<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- Navbar -->
	<nav class="navbar-container">
    <div class="container">

      <div class="row justify-content-md-center">
        <div class="col-md-auto tit">
          <H1 style="text-align: center;">KEVIN CAKE SHOP</H1>
        </div>
      </div>

    </div>
    <div class="bann">
      <ul class="nav navbar">
        <li class="nav-item nav-link disable"><a routerLink="Inicio">INICIO <i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="nav-item nav-link disable"><a routerLink="Ofertas">OFERTAS <i class="fa fa-star" aria-hidden="true"></i></a></li>
        <li class="nav-item nav-link disable"><a routerLink="Catalogo">CATALOGO <i class="fa fa-birthday-cake" aria-hidden="true"></i></a></li>
        <li class="nav-item nav-link disable"><a routerLink="SobreNosotros">UBICACIONES <i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <hr>
	</nav>

