<div class="blog-card">
  <div class="meta">
    <div class="photo" ></div>
    <ul class="details">

    </ul>
  </div>
  <div class="description">
    <h1>Queen Bee Cake</h1>
    <h2>Pastel</h2> <br>
    <p> Bizcocho de vainilla relleno de dulce de leche decorado con fondant marmolado, cristales de azúcar y
      detalles en papel de arroz. (14-16 porciones)</p>
    <p class="read-more">
      <strong>Q. 200.00</strong>
    </p>
  </div>
</div> <br>

<div class="main">
  <ul class="cards">

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/desc_pastel4.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">Pastel a la moda</h2> <br>
          <p class="card_text">Bizcocho de vainilla relleno de cajeta decorado con fondant y una flor (peonia) de papel de arroz. (16-20 porciones)</p>
          <button class="btn card_btn">Q. 200.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/desc_pastel6.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">Rainbow Cake</h2> <br>
          <p class="card_text">Bizcocho de vainilla relleno de crema pastelera cubierto con betún francés a base de merengue suizo,
            decorado con esferas de chocolate. (14-16 porciones)</p>
          <button class="btn card_btn">Q. 144.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/desc_pastel2.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">
            Pastel de melocotón con crema batida
          </h2> <br>
          <p class="card_text">Bizcocho de vainilla relleno de  crema batida y duraznos, cubierto con crema batida y decorado con trozos
            de durazno natural. (8-10 porciones)</p>
          <button class="btn card_btn">Q 128.00</button>
        </div>
      </div>
    </li>

  </ul>
</div>
