<div class="main">

  <ul class="cards">

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel1.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Nombre</h2>
          <p class="card_text">Descripcion</p>
          <button class="btn card_btn">PRECIO</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel2.jpeg"></div>
        <div class="card_content">
          <h2 class="card_title">Nombre</h2>
          <p class="card_text">Descripcion</p>
          <button class="btn card_btn">PRECIO</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel3.jpeg"></div>
        <div class="card_content">
          <h2 class="card_title">Nombre</h2>
          <p class="card_text">Descripcion</p>
          <button class="btn card_btn">PRECIO</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel4.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Nombre</h2>
          <p class="card_text">Descripcion</p>
          <button class="btn card_btn">PRECIO</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel5.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Nombre</h2>
          <p class="card_text">Descripcion</p>
          <button class="btn card_btn">PRECIO</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel6.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Nombre</h2>
          <p class="card_text">Descripcion</p>
          <button class="btn card_btn">PRECIO</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel7.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Nombre</h2>
          <p class="card_text">Descripcion</p>
          <button class="btn card_btn">PRECIO</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel8.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Nombre</h2>
          <p class="card_text">Descripcion</p>
          <button class="btn card_btn">PRECIO</button>
        </div>
      </div>
    </li>
  </ul>
</div>

