<div class="main">
  <h1> <strong>Pasteles</strong> </h1>

  <button type="button" class="pdf btn"> <a href="/assets/Catalogo_pasteleria.pdf" download="Menu KN Bakery ">
    Catálogo <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></button>

    <br>

  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel1.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">Selva Negra</h2> <br>
          <p class="card_text">Bizcocho de chocolate humedecido con almíbar a base de cerezas relleno de crema
            batida con trozos de chocolate, decorado con crema batida, chocolate oscuro y guindas. (8-10 porciones)</p>
          <button class="btn card_btn">Q. 150.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel2.jpeg" /></div>
        <div class="card_content">
          <h2 class="card_title">
            Pastel de melocotón con crema batida
          </h2> <br>
          <p class="card_text">Bizcocho de vainilla relleno de  crema batida y duraznos, cubierto con crema batida y decorado con trozos
            de durazno natural. (8-10 porciones)</p>
          <button class="btn card_btn">Q 160.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel3.jpeg" /></div>
        <div class="card_content">
          <h2 class="card_title">Jardin Blanco</h2> <br>
          <p class="card_text">Bizcocho de vainilla relleno de crema pastelera, decorado con fondant y flores de papel de arroz 8-10
            porciones)</p>
          <button class="btn card_btn">Q. 200.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel4.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">Pastel a la moda</h2> <br>
          <p class="card_text">Bizcocho de vainilla relleno de cajeta decorado con fondant y una flor (peonia) de papel de arroz. (16-20 porciones)</p>
          <button class="btn card_btn">Q. 250.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel5.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">Drift cake</h2><br>
          <p class="card_text">Bizcocho de vainilla relleno de crema pastelera cubierto con betún americano, ganache de chocolate y dulces
            variados por encima. (14-16 porciones)</p>
          <button class="btn card_btn">Q. 170.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel6.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">Rainbow Cake</h2> <br>
          <p class="card_text">Bizcocho de vainilla relleno de crema pastelera cubierto con betún francés a base de merengue suizo,
            decorado con esferas de chocolate. (14-16 porciones)</p>
          <button class="btn card_btn">Q. 180.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel7.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">Queen Bee Cake</h2> <br>
          <p class="card_text">Bizcocho de vainilla relleno de dulce de leche decorado con fondant marmolado, cristales de azúcar y
            detalles en papel de arroz. (14-16 porciones)</p>
          <button class="btn card_btn">Q. 250.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/pastel8.jpg" /></div>
        <div class="card_content">
          <h2 class="card_title">wedding cake</h2><br>
          <p class="card_text">Bizcocho de vainilla relleno de crema pastelera, decorado con fondant y detalle en papel de arroz.
            (8-10 porciones)</p>
          <button class="btn card_btn">Q. 180.00</button>
        </div>
      </div>
    </li>
  </ul>

<hr> <br>

  <h1> <strong>Flores de Pastillaje</strong> </h1>

  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/Lirios.jpeg" /></div>
        <div class="card_content">
          <h2 class="card_title">Lirios</h2> <br>
          <button class="btn card_btn">c/u Q. 25.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/Rosas.jpeg" /></div>
        <div class="card_content">
          <h2 class="card_title">Rosas</h2> <br>
          <button class="btn card_btn">c/u Q. 20.00</button>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="/assets/img/Peonia.jpeg" /></div>
        <div class="card_content">
          <h2 class="card_title">Peonia</h2> <br>
          <button class="btn card_btn">c/u Q. 40.00</button>
        </div>
      </div>
    </li>
  </ul>
</div>
